@media (min-width: 0) and (max-width: 360px) {
  .footer {
    height: 8%;
  }
  .dev-txt {
    top: 60px;
  }
  .dev-icons {
    top: 45px;
  }
  .t-rex {
    padding-top: 15%;
  }
  .navigation .links {
    line-height: 0;
    width: 350px;
    height: 380px;
  }
  .navigation .links a::after {
    bottom: -10px;
  }
}

@media (max-width: 460px) {
  main {
    height: 1200px;
  }
  .about-me {
    height: 1100px;
    padding-top: 30%;
  }
  .scroll {
    display: none;
  }
  .t-rex {
    padding-top: 30%;
  }
  .col:nth-child(2) {
    height: 470px;
    margin-top: 20%;
  }
  .learning {
    margin-top: 20%;
  }
  .cont-edu .row {
    line-height: 1;
  }
  .footer {
    height: 8%;
  }
  .navigation .links {
    line-height: 0;
    width: 350px;
    height: 380px;
  }
  .navigation .links a::after {
    bottom: -10px;
  }
}
@media (min-width: 460px) {
  main {
    height: 1300px;
  }
  .col:nth-child(2) {
    height: 500px;
  }
  .scroll {
    display: none;
  }
  .about-me {
    height: 1100px;
    padding-top: 30%;
  }
  .learning {
    margin-top: 15%;
  }
  .cont-edu {
    padding-top: 15%;
  }
  .cont-edu .row {
    line-height: 1;
    text-align: center;
  }
  .dev-txt {
    top: 70px;
  }
  .dev-icons {
    top: 55px;
    justify-content: space-between;
  }
  .footer {
    height: 8%;
  }
  .navigation .links {
    line-height: 0;
    width: 350px;
    height: 380px;
  }
  .navigation .links a::after {
    bottom: -10px;
  }
}
@media (min-width: 530px) and (max-width: 576px) {
  main {
    height: 800px;
  }
  .col:nth-child(2) {
    margin-top: 25%;
    right: 10px;
    border-radius: 0;
  }
  .about-me {
    padding-top: 20%;
  }
}
@media (min-width: 576px) {
  main {
    height: 800px;
  }
  .about-me {
    padding-top: 20%;
    height: auto;
  }
  .scroll {
    display: none;
  }
  .footer {
    height: 8%;
  }
  .col:nth-child(2) {
    margin-top: 25%;
    right: 10px;
    border-radius: 0;
  }
  .learning {
    padding-bottom: 10%;
  }
}
@media (min-width: 768px) {
  main {
    height: 800px;
  }
  .col:nth-child(1) {
    margin-top: 15%;
  }
  .col:nth-child(2) {
    height: 380px;
    border-radius: 50%;
    margin-top: 25%;
  }
  .t-rex {
    padding-top: 15%;
  }
  .navigation .links {
    line-height: 1;
    width: 450px;
    height: 480px;
  }
  .navigation .links a::after {
    bottom: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  main {
    height: 800px;
  }
  .about-me {
    height: 1000px;
    padding-top: 15%;
  }
  .scroll {
    display: flex;
  }
  .col:nth-child(2) {
    margin-top: 15%;
    height: 500px;
  }
  .cont-edu {
    padding-top: 10%;
  }
  .t-rex {
    padding-top: 25%;
  }
  .dev-txt {
    top: 100px;
  }
  .dev-icons {
    top: 95px;
  }
  .footer {
    height: 8%;
  }
  .navigation .links {
    line-height: 1;
    width: 450px;
    height: 450px;
  }
  .navigation .links a::after {
    bottom: 5px;
  }
}

@media (min-width: 1199px) {
  main {
    height: 100%;
  }
  .col:nth-child(1) {
    margin-top: 25%;
  }
  .col:nth-child(2) {
    margin-top: 16%;
    height: 550px;
  }
  .about-me {
    padding-top: 7%;
    height: 950px;
  }
  .learning {
    margin-top: 7%;
    padding-bottom: 20px;
  }
  .t-rex {
    padding-top: 25%;
  }
  .cont-edu {
    padding-top: 8%;
  }
  .scroll {
    display: flex;
  }
  .footer {
    height: 6%;
  }
  .navigation .links {
    line-height: 1;
    width: 550px;
    height: 550px;
  }
  .navigation .links a::after {
    bottom: 7px;
  }
}
